@charset "UTF-8";
/* Миксины */
/* Подключение шрифта */
/* Сброс списков */
/* Медиавыражения width */
/* медиавыражения height */
/* Стилизация placeholder */
/* Доступное скрытие элемента */
/* Цвета */
/* Размер шрифта */
/* Размер контейнера */
/* Breakpoint */
/* Ретина */
@font-face {
  font-family: "PTSans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.woff") format("woff"); }

@font-face {
  font-family: "PTSans Narrow";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-sans-narrow-v8-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v8-latin_cyrillic-700.woff") format("woff"); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "PTSans Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  color: black;
  background-color: #242424; }

img {
  max-width: 100%;
  height: auto; }

button,
input,
form {
  font: inherit; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

@media (min-width: 768px) {
  .page-header {
    background-color: #000000; } }

.page-header__logo {
  height: 85px;
  text-align: center; }

@media (min-width: 768px) {
  .page-header__logo {
    -ms-flex-order: 2;
        order: 2;
    width: 100%;
    height: 400px;
    background-color: #000000;
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center -9px; } }

@media (min-width: 1200px) {
  .page-header__logo {
    -ms-flex-order: 2;
        order: 2;
    height: 648px;
    background-size: cover;
    background-position: center 0; } }

.page-header__logo-image {
  width: 226px;
  height: 85px; }

@media (min-width: 768px) {
  .page-header__logo-image {
    display: block;
    width: 370px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .page-header__logo-image {
    margin-top: 57px; } }

.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: #826550; }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0; } }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }

.main-nav__toggle:hover, .main-nav__toggle:active {
  background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
  .main-nav--closed .site-list__item--active {
    display: block; }
  .main-nav--closed .site-list__item--active a {
    padding-left: 70px;
    padding-right: 70px;
    text-align: center; } }

@media (max-width: 767px) {
  .main-nav .user-list__item {
    display: none; } }

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: 0;
  right: auto; }

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff; }

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg); }

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg); }

.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3); }

@media (max-width: 767px) {
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); } }

@media (max-width: 767px) {
  .main-nav--opened .user-list__item {
    display: block; } }

.main-nav--nojs .main-nav__toggle {
  display: none; }

@media (max-width: 767px) {
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; } }

@media (max-width: 767px) {
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .site-list__item--active a {
    padding-left: 21px;
    padding-right: 21px;
    text-align: left; } }

@media (max-width: 767px) {
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38; } }

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 640px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px; } }

.site-list {
  font-weight: bold;
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .site-list {
    display: -ms-flexbox;
    display: flex;
    width: 570px; } }

@media (min-width: 1200px) {
  .site-list {
    width: 780px; } }

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

.user-list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .user-list {
    width: 60px; } }

@media (min-width: 1200px) {
  .user-list {
    width: 160px; } }

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none; }

.user-list__login-icon {
  position: absolute;
  top: 21px;
  left: 21px;
  opacity: 0.3; }

.user-list__login-icon polygon {
  fill: #ffffff; }

.stats {
  width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .stats {
    width: 640px;
    margin-top: -185px; } }

@media (min-width: 1200px) {
  .stats {
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    margin-top: -160px; } }

.stats__header {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px; }

@media (min-width: 768px) {
  .stats__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; } }

@media (min-width: 1200px) {
  .stats__header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 240px; } }

.stats__slogan {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase; }

.stats__legend {
  opacity: 0.3; }

.stats__legend--top {
  display: none; }

@media (min-width: 768px) {
  .stats__legend--top {
    display: block; } }

@media (min-width: 1200px) {
  .stats__legend--top {
    display: block; } }

@media (min-width: 768px) {
  .stats__legend--bottom {
    display: none; } }

@media (min-width: 1200px) {
  .stats__legend--bottom {
    display: none; } }

.stats__list {
  width: 100%;
  border-collapse: collapse; }

@media (min-width: 768px) {
  .stats__list {
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 768px) {
  .stats__list {
    width: 640px; } }

.stats__row--dark {
  background-color: #404040; }

.stats__row--light {
  background-color: #4e4e4e; }

.stats__value {
  font-size: 40px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff; }
