/* Миксины */

/* Подключение шрифта */
@mixin font-face($font-family, $url, $weight: normal, $style: normal) {
  @font-face {
    font-family: "#{$font-family}";
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url("#{$url}.woff2") format("woff2"),
    url("#{$url}.woff") format("woff");
  }
}

/* Сброс списков */
@mixin reset-ul() {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Стилизация placeholder */
@mixin placeholder {
  &::-webkit-input-placeholder {@content;}
  &:-moz-placeholder {@content;}
  &::-moz-placeholder {@content;}
  &:-ms-input-placeholder {@content;}
  &::-ms-input-placeholder {@content;}
  &::placeholder {@content;}
}

/* Доступное скрытие элемента */
@mixin visually-hidden {
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
}
