@import "mixin.scss";
@import "variables.scss";

@import "global/fonts.scss";
@import "global/base.scss";



.page-header {
  display: flex;
  flex-direction: column;
  @include wmin ($b-tablet) {
    background-color: #000000;
  }
  &__logo {
    height: 85px;
    text-align: center;
    @include wmin ($b-tablet) {
      order: 2;
      width: 100%;
      height: 400px;
      background-color: #000000;
      background-image: url(../img/bg-header.jpg);
      background-repeat: no-repeat;
      background-position: center -9px;
    }
    @include wmin ($b-desktop) {
      order: 2;
      height: 648px;
      background-size: cover;
      background-position: center 0;
    }
  }
  &__logo-image {
    width: 226px;
    height: 85px;
    @include wmin ($b-tablet) {
      display: block;
      width: 370px;
      height: auto;
      margin: 0 auto;
      margin-top: 40px;
    }
    @include wmin ($b-desktop) {
      margin-top: 57px;
    }
  }
}



.main-nav {
  position: relative;
  width: 320px;
  min-height: 51px;
  margin: 0 auto;
  background-color: $icon-color;
  @include wmin ($b-tablet) {
    width: auto;
    margin: 0;
  }
  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    font-size: 0px;
    background-color: #6a4d38;
    cursor: pointer;
    border: none;
    &:hover,
    &:active {
      background-color: #624530;
    }
  }
  &--closed
  &__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
  &--closed
  &__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0  rgba(255, 255, 255, 0.3);
  }
  &--closed
    .site-list__item {
      @include wmax ($b-mobile-only) {
        display: none;
        &--active {
          display: block;
          & a {
            padding-left: 70px;
            padding-right: 70px;
            text-align: center;
          }
        }
      }
    }
    .user-list__item {
      @include wmax ($b-mobile-only) {
        display: none;
      }
    }
  &--opened
  &__toggle {
    top: 0;
    left: 0;
    right: auto;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 36px;
      height: 2px;
      background-color: #ffffff;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  &--opened
  &__wrapper {
    @include wmax ($b-mobile-only) {
      position: absolute;
      top: 0;
      right: 0;
      left: 70px;
      z-index: 10;
      min-height: 80vh;
      background-color: #6a4d38;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 7px;
        height: 100%;
        box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
      }
    }
  }
  &--opened
    .user-list__item {
      @include wmax ($b-mobile-only) {
        display: block;
      }
    }
  &--nojs
  &__toggle {
    display: none;
  }
  &--nojs
  &__wrapper {
    @include wmax ($b-mobile-only) {
      position: static;
      min-height: 0;
    }
  }
  &--nojs
    .site-list__item {
    @include wmax ($b-mobile-only) {
      display: block;
      &--active a {
        padding-left: 21px;
        padding-right: 21px;
        text-align: left;
      }
    }
  }
  &--nojs
    .user-list__item {
    @include wmax ($b-mobile-only) {
      display: block;
      background-color: #6a4d38;
    }
  }
  &__wrapper {
    @include wmin ($b-tablet) {
      display: flex;
      justify-content: space-between;
      width: $tablet-wrap;
      margin: 0 auto;
    }
    @include wmin ($b-desktop) {
      width: $desktop-wrap;
    }
  }
}



.site-list {
  font-weight: bold;
  @include reset-ul;
  @include wmin ($b-tablet) {
    display: flex;
    width: 570px;
  }
  @include wmin ($b-desktop) {
    width: 780px;
  }
  & a {
    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $icon-color;
    border-top: 1px solid #886e5b;
    border-bottom: 1px solid #71543f;
  }
  & a[href] {
    &:hover {
      background-color: #755a46;
      border-top-color: #755a46;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #6a4d38;
      border-top-color: #6a4d38;
    }
  }
}


.user-list {
  @include reset-ul;
  @include wmin ($b-tablet) {
    width: 60px;
  }
  @include wmin ($b-desktop) {
    width: 160px;
  }
  &__login {
    position: relative;
    display: block;
    padding: 17px 21px;
    padding-left: 49px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
  }
  &__login-icon {
    position: absolute;
    top: 21px;
    left: 21px;
    opacity: 0.3;
    polygon {
      fill: #ffffff;
    }
  }
}



.stats {
  width: 320px;
  margin: 0 auto;
  @include wmin ($b-tablet) {
    width: $tablet-wrap;
    margin-top: -185px;
  }
  @include wmin ($b-desktop) {
    display: flex;
    width: $desktop-wrap;
    margin-top: -160px;
  }
  &__header {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-left: 40px;
    @include wmin ($b-tablet) {
      display: flex;
      justify-content: space-between;
    }
    @include wmin ($b-desktop) {
      display: flex;
      flex-direction: column;
      width: 240px;
    }
  }
  &__slogan {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__legend {
    opacity: 0.3;
    &--top {
      display: none;
      @include wmin ($b-tablet) {
        display: block;
      }
      @include wmin ($b-desktop) {
        display: block;
      }
    }
    &--bottom {
      @include wmin ($b-tablet) {
        display: none;
      }
      @include wmin ($b-desktop) {
        display: none;
      }
    }
  }
  &__list {
    width: 100%;
    border-collapse: collapse;
    @include wmin ($b-tablet) {
      display: flex;
    }
    @include wmin ($b-tablet) {
      width: 640px;
    }
  }
  &__row--dark {
    background-color: #404040;
  }
  &__row--light {
    background-color: #4e4e4e;
  }
  &__value {
    font-size: 40px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
  }
}

